@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}

.radix-themes {
  --default-font-family: var(--font-inter) !important;
  color: #869baf !important;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}

a:visited {
  color: inherit;
}

body {
  margin: 0;
}

.main_container {
  /* height: 100dvh; */
}

.page_container {
  border: var(--gray-5) 1px solid;
  height: 100%;
  border-radius: 5px;
  /* overflow: hidden; */
  background-color: #011627;
}

.mobile_menu {
  position: absolute;
  background-color: #011627;
  top: 2.8rem;
  width: 100%;
  height: calc(100dvh - 2.5rem - var(--space-3) * 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: var(--gray-5) 1px solid;
  z-index: 999;
}

.mobile_menu_list {
  color: var(--white-a12);
  list-style: none;
  font-size: var(--font-size-5);
  margin: 0;
  margin-block: 0;
  padding-inline-start: 0;
}

.mobile_menu_list li {
  padding: var(--space-4);
  border-bottom: var(--gray-5) 1px solid;
}
.mobile_menu_list li:active {
  background-color: #1e2d3d;
}

.nav {
  border-bottom: var(--gray-5) 1px solid;
}

.nav_name {
  margin-left: 0.5rem;
  text-decoration: none;
  min-width: 300px;
}

.nav_name:hover {
  color: #f6f6f6;
}

.nav_name:visited {
  color: inherit;
}
.mobile_menu_footer {
  border-top: var(--gray-5) 1px solid;
  height: 3rem;
}

.home {
  background: radial-gradient(circle at 76% 20%, #4d5cce3b 0%, #ee82ee00 24%),
    radial-gradient(circle at 50% 30%, #43d9ac39 0%, #ee82ee00 37%);
  height: 100%;
}

.social_links {
  border-left: var(--gray-5) 1px solid;
  height: 100%;
  padding: 0 1rem 0rem 1rem;
}

.social_links_desktop {
  border-left: var(--gray-5) 1px solid;
  height: 100%;
  padding: 0 1rem 0rem 1rem;
}

.social_links_desktop:last-child {
  border-right: var(--gray-5) 1px solid;
}

.desktop_header {
  border-bottom: var(--gray-5) 1px solid;
  color: #869baf !important;
}

.desktop_link {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem 0rem 2rem;
  border-left: var(--gray-5) 1px solid;
}
.desktop_link:last-child {
  border-right: var(--gray-5) 1px solid;
}
.desktop_link:hover {
  color: #f6f6f6 !important;
}

.active {
  border-bottom: var(--amber-indicator) 3px solid !important;
  color: #f6f6f6 !important;
}

.desktop_footer {
  border-top: var(--gray-5) 1px solid;
  color: #607b96 !important;
}

.home_content {
  color: #f6f6f6d4 !important;
}

.software {
  cursor: pointer;
  color: #43d9ad;
}

.software.software_glow {
  text-shadow:
    0 0 5px #43d9ad,
    0 0 10px #43d9ad,
    0 0 15px #43d9ad;
  &:after {
    content: '|';
    animation: blink 500ms linear infinite alternate;
  }
}

.manager {
  cursor: pointer;
  color: var(--amber-a9);
}
.manager.manager_glow {
  text-shadow:
    0 0 5px var(--amber-a9),
    0 0 10px var(--amber-a9),
    0 0 15px var(--amber-a9);
  &:after {
    content: '|';
    animation: blink 500ms linear infinite alternate;
  }
}

.skater {
  cursor: pointer;
  color: #4d5cce;
}

.skater.skater_glow {
  color: #7682d7;
  text-shadow:
    0 0 5px #4d5cce,
    0 0 10px #4d5cce,
    0 0 15px #4d5cce;
  &:after {
    content: '|';
    animation: blink 500ms linear infinite alternate;
  }
}

h3,
button {
  all: unset;
}

.AccordionRoot {
  /* border-radius: 6px; */
  /* width: 300px; */
  width: 100%;
  border-bottom: 1px solid var(--gray-5);
}

.AccordionItem {
  overflow: hidden;
  margin-top: 1px;
}

.AccordionItem:focus-within {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 2px var(--mauve-12);
}

.AccordionHeader {
  display: flex;
  width: 100%;
}

.AccordionTrigger {
  font-family: inherit;
  background-color: transparent;
  padding: 0.5rem;
  /* height: 415px; */
  flex: 1;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  line-height: 1;
  /* color: var(--violet-11); */
  /* box-shadow: 0 1px 0 var(--mauve-6); */
  /* background-color: white; */
  width: 100%;
  background-color: #1e2d3d;
  border-radius: 0;
  /* margin: 0; */
  margin-bottom: 3px;

  /* padding: 0.4rem 0.7rem; */
  /* border-bottom: 3px solid #011627; */
  /* border-bottom: 3px solid transparent; */
  gap: 0.56em;
  font-size: 16px;
}

.AccordionTrigger:hover {
  /* background-color: var(--mauve-2); */
}

.AccordionContent {
  overflow: hidden;
  /* font-size: 15px; */
  /* color: var(--mauve-11);
  background-color: var(--mauve-2); */
}
.AccordionContent[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  /* padding: 15px 20px; */
  display: flex;
  flex-direction: column;
}

.AccordionChevron {
  color: var(--violet-10);
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(90deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.AccordionInnerButton {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border: none;
  padding: 0.5rem 1rem;
  color: inherit;
  cursor: pointer;
}

.AccordionInnerButton:hover {
  color: #f6f6f6d4;
}

.AccordionInnerButton.selected {
  color: #f6f6f6d4;
  font-weight: bold;
  background-color: var(--amber-a3);
}

.section_title span {
  color: #f6f6f68b;
}

.page_title {
  color: #f6f6f6;
}

.section_title {
  color: #f6f6f6d4;
  background: #000b13;
  padding: 0.5rem 0 0.5rem 0;
  /* width: 100%; */
}

.section_title.sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  /* background: #011627; */
  z-index: 1000; /* Optional: Ensure it stays above other content */
}

.icon_column {
  border-right: 1px solid var(--gray-5);
}

.accordion_column {
  border-right: 1px solid var(--gray-5);
}

.page_main_content {
  flex: 1;
}

.page_main_content_children {
  border-right: 1px solid var(--gray-5);
}

br {
  margin-top: 1rem;
  line-height: 1;
}

.work_list li {
  margin-bottom: 1rem;
}

.work_title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #f6f6f6;
}

.work_info {
  font-size: 1rem;
}

.credential_link {
  color: #f6f6f6 !important;
  text-decoration: underline !important;
}

.project_card_container {
  /* border: 1px solid var(--gray-5); */
  padding: 1rem;
  width: 330px;
}

.project_number {
  color: #5565e8;
  font-weight: bold;
}

.dialog_content {
  /* max-height: 90dvh; */
  /* overflow: visible; */
}

.keyword {
  color: #c586c0; /* purple for keywords */
}

.variable {
  color: #9cdcfe; /* light blue for variables */
}

.function {
  color: #dcdcaa; /* yellow for function calls */
}

.property {
  color: #4ec9b0; /* teal for object properties */
}
.typewriter_container {
  background-color: #000b13;
  border-radius: 10px;

  box-shadow: 0 0 10px 0 rgba(9, 167, 194, 0.2);
}

.typewriter {
  margin: 0;
  /* font-family: 'Courier New'; */

  &:after {
    content: '|';
    animation: blink 500ms linear infinite alternate;
  }
}

@media (max-width: 480px) {
  .typewriter {
    font-size: 0.6rem;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swiper-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
  border-radius: 10px;
}

.swiper-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the container while maintaining aspect ratio */
}

.sk8 {
  /* color: red;
  border: 1px solid red; */
  border-radius: 10px;

  box-shadow: 0 0 10px 0 rgba(9, 167, 194, 0.2);
}

.tm {
  /* color: red;
  border: 1px solid red; */
  font-family: 'Raleway', sans-serif;
}

.tm_swiper {
  width: 500px;
  height: 650px;
}

@media (max-width: 480px) {
  .tm_swiper {
    width: 240px;
    height: 320px;
  }
}

.tm_swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #d5d5d5;
  /* padding: 0.5rem; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  /* background-color: #95a0a9; */
  background: linear-gradient(0deg, #011627 0%, rgb(45, 49, 83) 100%);
  background-image: url('/meta/env.svg');
  background-size: cover;
  background-position: center;
  /* border: 1px solid #869baf; */

  /* width: 100%;
  height: 100%; */
}

#tree,
#bridge,
#idea,
#anchor,
#compass {
  /* width: 100%; */
  /* height: 100%; */
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.509));
}

#compass {
  width: 90%;
}

.swiper-slide {
}

.tm_card {
  /* border: #869baf 1px solid; */
  /* margin: 1rem; */
  height: 100%;
  padding: 3%;
  width: 100%;
}

.tm_card__content {
  border-top: #869baf 2px solid;
  border-bottom: #869baf 2px solid;
  /* border-style: double; */
  /* border-width: 1rem; */
  border-radius: 20px;
  /* margin: 1rem; */
  /* height: 100%; */
  padding: 1rem;

  /* border: 5px solid yellow; */
  outline: 1px solid #607b96;
  outline-offset: -0.5rem;
  justify-content: space-evenly !important;
}

.tm_card__title {
  font-weight: 400;
  /* font-size: 3rem; */
  text-align: center;
  border-top: #869baf 2px solid;
  text-shadow: 3px 5px 5px #0000007b;
}

.tm_card__description {
  font-weight: 100;
  text-align: center;
}

.video-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-player {
  /* position: relative;
  width: 100%; */
  height: 500px;
}

@media (max-width: 480px) {
  .video-player {
    /* width: 240px; */
    height: 300px;
  }
}

.contact_link {
  color: #f6f6f6 !important;
  font-size: 1.5rem;
}

.me {
  border-radius: 50%;
}
