@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}

.radix-themes {
  --default-font-family: var(--font-inter) !important;
  color: #607b96 !important;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}

a:visited {
  color: inherit;
}

body {
  margin: 0;
}

.main_container {
  height: 100vh;
}

.page_container {
  border: var(--gray-5) 1px solid;
  height: 100%;
  border-radius: 5px;
  /* overflow: hidden; */
  background-color: #011627;
}

.mobile_menu {
  position: absolute;
  background-color: #011627;
  top: 2.8rem;
  width: 100%;
  height: calc(100vh - 2.5rem - var(--space-3) * 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: var(--gray-5) 1px solid;
}

.mobile_menu_list {
  color: var(--white-a12);
  list-style: none;
  font-size: var(--font-size-5);
  margin: 0;
  margin-block: 0;
  padding-inline-start: 0;
}

.mobile_menu_list li {
  padding: var(--space-4);
  border-bottom: var(--gray-5) 1px solid;
}

.nav {
  border-bottom: var(--gray-5) 1px solid;
}

.nav_name {
  margin-left: 0.5rem;
  text-decoration: none;
  min-width: 250px;
}

.nav_name:hover {
  color: #f6f6f6;
}

.nav_name:visited {
  color: inherit;
}
.mobile_menu_footer {
  border-top: var(--gray-5) 1px solid;
  height: 3rem;
}

.home {
  background: radial-gradient(circle at 76% 50%, #4d5cce3b 0%, #ee82ee00 24%),
    radial-gradient(circle at 59% 37%, #43d9ac15 0%, #ee82ee00 37%);
  height: 100%;
}

.social_links {
  border-left: var(--gray-5) 1px solid;
  height: 100%;
  padding: 0 1rem 0rem 1rem;
}

.social_links_desktop {
  border-left: var(--gray-5) 1px solid;
  height: 100%;
  padding: 0 1rem 0rem 1rem;
}

.social_links_desktop:last-child {
  border-right: var(--gray-5) 1px solid;
}

.desktop_header {
  border-bottom: var(--gray-5) 1px solid;
  color: #607b96 !important;
}

.desktop_link {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem 0rem 2rem;
  border-left: var(--gray-5) 1px solid;
}
.desktop_link:last-child {
  border-right: var(--gray-5) 1px solid;
}

.active {
  border-bottom: var(--amber-indicator) 3px solid !important;
  color: #f6f6f6 !important;
}

.desktop_footer {
  border-top: var(--gray-5) 1px solid;
  color: #607b96 !important;
}

.home_content {
  color: #f6f6f6d4 !important;
}

.software {
  color: #43d9ad;
}
